body{
    padding-bottom: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin-bottom: 10px;
}

div input,
div label{
    display: block;
}

.radio label,
.radio input,
.radio span{
    display: inline-block;
}